body {
background-color: crimson;
}
 
#quote {

text-align: center;

}


#quote img {

display: block;
margin-left: auto;
margin-right: auto;

}

#quote .citation {

    font-style: italic;
}

#quote p {
    font-weight: bold;


}